body { 
	background: #fff;
	color: #333;
	font-family: Optima, Frutiger, 'Lucida Grande','Lucida Sans Unicode';
}

header {
	/*display: flex;*/
}
/* have no idea if this sizing stuff works in anything other than firefox. */
header picture { 
	box-sizing: border-box;
	padding-right: .25em;
	width: 4em; 
	height: 4em; 
	float: left; 
}
header ul { display: flex; }
header ul, header li.leaf {
	margin: 0px;
	padding: 0;
	list-style: none;
}

header li.leaf {
	padding: .25em 1em .25em 0;
}
header form {
	padding: .5em 0;
}

.view-frontpage .view-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
}

.view-frontpage .node-teaser {
	/*border: 1px solid lime;*/
	margin: 10px;
	
}

.view-frontpage .node-teaser h2 {
	margin: 0;
	padding: .25em;
	background: rgba(256,256,256,.5);
	position: absolute;
	bottom: .2em;
	width: 100%;
}
.view-frontpage .node-teaser h2 a {
	color: #000;
	text-decoration: none;
}
.view-frontpage .node-teaser img {
	
}


/* thumbnails page */
.view-quick-thumbnails .item-list ul {
	display: flex;
	flex-wrap: wrap;
}
.view-quick-thumbnails .item-list ul, .view-quick-thumbnails .item-list ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.view-quick-thumbnails .item-list ul li {
	width: 100px;
	margin: .25em;
	box-sizing: border-box;
	font-size: .8em;
	position: relative;
}

.view-quick-thumbnails .item-list ul li .views-field-title a {
	display: block;
	box-sizing: border-box;
	height: 100px;
	width:100px;
	padding: .25em .4em;
	position: absolute;
	top: 0;
	background: transparent;
	color: transparent;
	text-decoration: none;
}

.view-quick-thumbnails .item-list ul li .views-field-title a:hover {
	background: rgba(256,256,256,.6);
	color: #000;
}